<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="~/assets/img/logo/logo.png" alt="" /></a>
            <strong><img src="~/assets/img/logo/logosn.png" alt="" /></strong>
        </div>
        <div class="nalika-profile">
            <div class="profile-dtl">
                <a href="#"><img src="~/assets/img/notification/4.jpg" alt="" /></a>
                <h2>Lakian <span class="min-dtn">Das</span></h2>
            </div>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li><a title="Cursos" asp-controller="Coordinador" asp-action="GesCursos"><span class="mini-sub-pro">Gestión de Cursos</span></a></li>
                    <li><a title="Alumnos" asp-controller="Coordinador" asp-action="GesAlumnos"><span class="mini-sub-pro">Gestión de Alumnos</span></a></li>
                    <li><a title="Profesores" asp-controller="Coordinador" asp-action="GesProfesor"><span class="mini-sub-pro">Gestión de Profesores</span></a></li>
                </ul>
                
            </nav>
        </div>
    </nav>
</div>