@{
    Layout = "~/Views/Shared/Template/_Layaoutpublic.cshtml";
}
<div class="">

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ir al inicio</a>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
    <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
        <div class="text-center custom-login">
            <h3>Recuperar contraseña</h3>
            <p>Ingresa tu correo electrónico para enviarte el restablecimiento de contraseña</p>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <form action="#" id="loginForm">
                    <div class="form-group">
                                <label class="control-label" for="email">Correo</label>
                                <input type="text" placeholder="alguien@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                
                            </div>
                    <div class="text-center">
                        <button class="btn btn-success loginbtn">Recuperar</button>
                        <a asp-controller="App" asp-action="Index" class="btn btn-default">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
</div>